# OpenAPI spec for the Defender TVM Vulnerability Details plugin.
# Host at a public raw URL and reference from mde-tvm-plugin.yaml.
#
# NOTES:
# - This endpoint supports OData $filter on: id, name, description,
#   cvssV3, publishedOn, severity, updatedOn. It does NOT support
#   $filter on exposedMachines or $select, so responses include full
#   vulnerability descriptions. Always query specific CVE IDs in small
#   batches (<=25) to control response size.
# - Geo endpoints exist (us./eu./uk./au.api.security.microsoft.com) if
#   you want lower latency; the global URL below works everywhere.

openapi: 3.0.1
info:
  title: Defender TVM Vulnerability Details
  description: Per-CVE threat intelligence from Microsoft Defender Vulnerability Management, including EPSS and exploit maturity signals.
  version: "1.0"
servers:
  - url: https://api.securitycenter.microsoft.com
paths:
  /api/vulnerabilities:
    get:
      operationId: getDefenderVulnerabilityDetails
      summary: Get vulnerability threat details for specific CVEs
      description: >-
        Returns Defender TVM vulnerability records including EPSS score,
        publicExploit, exploitVerified, exploitInKit, severity, CVSS, and
        exposed machine count. Use the OData $filter parameter to request
        specific CVE IDs in batches of 25 or fewer, e.g.
        id eq 'CVE-2026-1234' or id eq 'CVE-2026-5678'
      parameters:
        - name: $filter
          in: query
          required: true
          description: "OData filter. Batch CVE IDs: id eq 'CVE-X' or id eq 'CVE-Y' (max 25 per call)."
          schema:
            type: string
        - name: $top
          in: query
          required: false
          description: Maximum records to return (set to the batch size, e.g. 25).
          schema:
            type: integer
            default: 25
      responses:
        '200':
          description: Vulnerability details
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: CVE ID
                        severity:
                          type: string
                        cvssV3:
                          type: number
                        exposedMachines:
                          type: integer
                        publishedOn:
                          type: string
                        publicExploit:
                          type: boolean
                          description: Exploit code is publicly available
                        exploitVerified:
                          type: boolean
                          description: Exploit is verified to work
                        exploitInKit:
                          type: boolean
                          description: Exploit is part of an exploit kit
                        exploitTypes:
                          type: array
                          items:
                            type: string
                        epss:
                          type: number
                          description: EPSS exploitation probability (0-1)
